* {
  box-sizing: border-box;
}

/************************
Site Colors
************************/
$bgcolor: #F4F6F7;
$blkcolor: #363636;
$textcolor2: #FFF;
$themecolor: #3498DB;

body {
  background-color: $bgcolor;
  color: $blkcolor;
}


#wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
}

/************************
Banner
************************/
.banner {
  display: flex;
  flex-direction: column;
  color: $textcolor2;
  background: $themecolor;
  width: 100%;
  padding: 20px;
}

/************************
Navigation
************************/
.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav {
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: $blkcolor;
    padding: 5px;
    font-size: 125%;
  }
  a {
    color: $textcolor2;
    text-decoration: none;
    margin: 20px;
    padding: 8px 16px;
  }
  :hover {
    color: $themecolor;
    text-decoration: none;
  }
}

.action {
  display: block;
  height: 70px;
  width: 500px;
  text-align: center;
  line-height: 70px;
  font-size: 150%;
  border-radius: 30px;
  text-decoration: none;
  background-color: $themecolor;
  color: $textcolor2;

  :hover {
    background-color: $blkcolor;
    color: $textcolor2;
    text-decoration: none;
  }
}

/************************
About
************************/
.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

/************************
Projects
************************/
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

/************************
Contact Form
************************/
form {
  color: $textcolor2;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  color: $blkcolor;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: $blkcolor;
  color: $textcolor2;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $textcolor2;
  color: $blkcolor;
  border-radius: 20px;
}

.contact {
  border-radius: 30px;
  background-color: $themecolor;
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $textcolor2;
  background-color: $blkcolor;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
}
